RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^Intelligence-artificielle-article-get-([0-9]+)\.html$ Intelligence-artificielle/article/get/$1 [L,QSA]
